#masterPage {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	margin:0;
}


#bodyStyle{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	margin:0;
}

.nav {
	border-bottom: 2.5px solid #a0138e;
	border-top: 2.5px solid #a0138e;
	display: flex;
	background-color: #eff1f2;
	text-align: center;
	position: fixed;
	width: 100%;
	
}
  
 .nav a {
	color: black;
	padding: 0.5% 10px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

.nav a:hover {
		background-color: gray;
		color: black;

	}

.top{
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 0.5%;
	line-height: 1em;
	

}


.middle1{
	background-color: rgba(25,25,25);
	padding-bottom: 40px;
	padding-top: 40px;
	padding-left: 10%;
}

.middle1 p{
	color: white;
	line-height: 1.875em;
	margin:0%;
	
}

.middle2{
	background-color: #E3F2F3;
	color: black;
	padding: 20px 20px;
}

.middle2 p{ 
	font-size: 1rem;
  	padding-right: 14%;
	padding-left: 15%;
	line-height: 1.875em; 
	text-align: center;	
}

.middle3{
	background-color: black;
	color: white;
}

.middle4{
	background-color: #E3F2F3;
	color: black;
}


.bottom{
	background-color: black;
	color: white;
	text-align: center;
}



.space{
	 word-spacing: 650px;
}

img{
	width:100%;
}

.img1{
	padding-right: 20%;
	padding-left: 8%;
	padding-top: 2%;
	padding-bottom: 3%;
	width: 350px;
    height: 500px;
 }
 
.img2{
	display: block;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 30px;
	width: 280px;
	border-radius: 70%;
}
	
#MyGalery{
	align-items: center;
    margin: auto;
}

.mainblack {
  flex: 100%;
  background-color: black;
  padding: 2px;
}

.rowblack {  
  display: flex;
  flex-wrap: wrap;
  background-color: black;

}

.boxgrey {
  flex: 20%;
  background-color: rgba(25,25,25);
  padding: 10px;
  margin: 20px
}

h1 {
	font-family: sans-serif;
	font-size:30px;
	margin: 10 30 0 30;
	color: white;
	text-align: center;
	font-weight: bold;
}

h2{
	font-size:15px;
	color: black;
	text-align: center;
}

 