#bodyStyle{
	font: menu;
	font-size: 15px;
	margin:0;
}

.nav {
	border-bottom: 2.5px solid #a0138e;
	display: flex;
	background-color: #eff1f2;
	text-align: center;
	position: fixed;
	width: 100%;
	
}
  
 .nav a {
	color: black;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
}


.top{
	background-color: black;
	color: white;
	text-align: center;
	padding: 25px 20px;
	padding-top: 80;
	padding-bottom: 40;
}


.middle1{
	background-color: rgba(25,25,25);
	padding-bottom: 50px;
	padding-top: 50px
}

.middle1 p{
	color: white;
	padding-right: 10%;
	padding-left: 25%;
	line-height: 1.875em;
	margin:0%;
}

.middle2{
	background-color: #E3F2F3;
	color: black;
	padding: 20px 20px;
}

.middle2 p{ 
	font-size: 1rem;
  	padding-right: 14%;
	padding-left: 15%;
	line-height: 1.875em; 
	text-align: center;	
}

.middle3{
	background-color: black;
	color: white;
}

.middle4{
	background-color: #E3F2F3;
	color: black;
}


.bottom{
	background-color: black;
	color: white;
	text-align: center;
}



.space{
	word-spacing: 50em;
	margin-left: 15%;
        margin-right: 15%;
}


.img1{
	padding-right: 15%;
    padding-top: 2%;
	padding-bottom: 2%;
	width: 460px;
    height: 550px;
 }
 
.img2{
	display: block;
	margin: auto;
	padding: 50px;
	padding-bottom: 20px;
	width: 260px;
	border-radius: 70%;
}
	
#MyGalery{
	align-items: center;
    margin: auto;
}
